/* attachements
*************************************************/
.wp_attachment_details { margin-bottom: 1.2em; }
.compat-attachment-fields { width: 100%; border-collapse: collapse; }
.compat-field-pur-custom-link th,
.compat-field-pur-custom-link td { float: left; clear: both; width: 100%; padding: 0; }
.compat-field-pur-custom-link th { padding: 0; line-height: 1.4em; }
.compat-field-pur-custom-link input[type='text'] { width: 100%; margin: 0 0 5px; float: left; clear: both; }
.compat-field-pur-custom-link .help { margin-bottom: 10px; color: #888; font-size: 11px; font-style: italic; }